@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme colors */
  --background: #f8f9fa;
  --text: #000000;
  --text-secondary: #ffffff;
  --white: #ffffff;
  --white100: #F9F9F9;
  --white200: #f3f3f3;
  --black: #000000;
  --primary: #007BFF;
  --tertiary: #343a40;
  --tertiary-light: #a8bccf;
  --electric-blue: #265689;
  --error: #dc3545;
  --pale-blue: #c4e2ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme colors */
    --background: #343a40;
    --text: #ffffff;
    --text-secondary: #000000;
    --white: #ffffff;
    --white100: #F9F9F9;
    --white200: #f3f3f3;
    --black: #000000;
    --tertiary: #343a40;
    --primary: #007BFF;
    --pale-blue: #c4e2ff;
    --tertiary-light: #a8bccf;
    --electric-blue: #265689;
    --error: #dc3545;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.radix-themes {
  --cursor-button: pointer;
}
